.MyBg {
  background: url("../assets/images/beton.jpg");
  background-size: cover;
  height: 100vh;
}

.MyLg {
  width: 504px;
  margin: auto;
  height: 390px;
  background-color: #09213b;
  margin-top: 200px;
  border-radius: 20px;
  padding: 50px;
}

.MyLg img {
  margin: auto;
  padding: auto;
  width: 68px;
  margin-left: 160px;
}

.MyLg button {
  background-color: #f80000;
  border-radius: 20px;
  width: 82px;
  margin: auto;
  margin-left: 160px;
}

.myNav {
  background-color: #09213b;
}

.MyRg {
  background-color: #09213b;
  background-size: cover;
  height: 100vh;
}

.MyRgform {
  width: 800px;
    margin: auto; 
    height: 500px;
    background-color: #183758;
    margin-top: 100px; 
    margin-bottom: 300px;
    border-radius: 20px;
    padding: 50px;
}

.MyRgform button {
  width: 205px;
  margin: auto;
  margin-left: 500px;
}

/* table */
.TbBg {
  background-color: #183758;
  height: 500px;
  margin-bottom: 300px;
  height: 100vh;
}

.mYtable tr th {
  background-color: #e31e26;
}

.MyUpform {
  width: 1184px;
  margin: auto;
  height: 600px;
  /* background-color: #183758; */
  margin-top: 30px;
  border-radius: 20px;
  padding: 50px;
}
.MyUpform button {
  width: 205px;
  margin: auto;
  margin-left: 870px;
}

.myProduct {
  margin-top: -350px; 
  margin-bottom: 400px; 
  margin-left: 172px;
  width:200px;
}

.myHero{
  margin-top:-600px;
  margin-left: 300px;
  margin-right: 30px; 
  margin-top: -750px;
}

.myPagination {
  margin-top:-300px;
  margin-left: 700px;
 
}
