.MyBg {
  background: url("../assets/images/beton.jpg");
  background-size: cover;
  height: 100vh;
}

.MyLg {
  width: 504px;
  margin: auto;
  height: 390px;
  background-color: #09213b;
  margin-top: 200px;
  border-radius: 20px;
  padding: 50px;
}

.MyLg img {
  margin: auto;
  padding: auto;
  width: 68px;
  margin-left: 160px;
}

.MyLg button {
  background-color: #f80000;
  border-radius: 20px;
  width: 82px;
  margin: auto;
  margin-left: 160px;
}

.myNav {
  background-color: #09213b;
}

.MyRg {
  background-color: #09213b;
  background-size: cover;
  height: 100vh;
}

.MyRgform {
  width: 800px;
  margin: auto;
  height: 500px;
  background-color: #183758;
  margin-top: 100px;
  margin-bottom: 300px;
  border-radius: 20px;
  padding: 50px;
}

.MyRgform button {
  width: 205px;
  margin: auto;
  margin-left: 500px;
}

/* table */
.TbBg {
  background-color: #183758;
  height: 500px;
  margin-bottom: 300px;
  height: 100vh;
}

.mYtable tr th {
  background-color: #e31e26;
}

.MyUpform {
  width: 1184px;
  margin: auto;
  height: 600px;
  /* background-color: #183758; */
  margin-top: 30px;
  border-radius: 20px;
  padding: 50px;
}
.MyUpform button {
  width: 205px;
  margin: auto;
  margin-left: 870px;
}

.myProduct {
  margin-top: -400px;
  margin-bottom: 500px;
  margin-left: 290px;
  /* width:200px; */
}

.myHero {
  margin-top: -2000px;
  margin-bottom: 400px;
  margin-left: 300px;
  margin-right: 30px;
}

.myPagination {
  margin-top: -300px;
  margin-left: 700px;
}

.mySidebar {
  background-color: #09213b;
  width: 200px;
  height: 2000px;
  /* height: 100vh; */
  margin-top: -20px;
  padding: 50px;
  margin-right: -50px;
}

.myModal {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  top: 0;
}

.modal-container {
  width: 443px;
  height: 600px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 30rem;
  background-color: white;
  border-radius: 0.5 rem;
  box-shadow: 20px 20px 50px grey;
  padding: 50px;
}

.ModalEdit {
  width: 443px;
  height: 700px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 30rem;
  background-color: #09213b;
  border-radius: 0.5 rem;
  box-shadow: 20px 20px 50px #000000;
  padding: 50px;
}
